/*
  place custom CSS definitions into this file to override Bootstrap
*/

body {
    margin-top: 30px;
}

nav {
    float: left;
    margin: 25px;
}

nav ul {
    list-style: none;
}

nav li {
    margin-top: 20px;
}