{extends layout.latte}

{block title}Persons list{/block}



{block body}
<div class="container mt-5">
	<table class="table table-stripped table-hover">
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Height</th>
			<th>Gender</th>
		</tr>

		{foreach $osoby as $o} 
			<tr>
				<td>{$o['first_name']}</td>
				<td>{$o['last_name']}</td>
				<td>{$o['height']}</td>
				<td>{$o['gender']}</td>
			</tr>
		{/foreach}
	</table>
</div>
{/block}